.orders{
    padding: 20px 0;
    background: #f8edf0;
}
.orders__content{

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}
.orders__img{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        max-width: 200px;
    }
    
    @media screen and (min-width: 1120px) {
        max-width: 100%;
    }
}
.orders__img-phone{
    border-radius: 25px;
}
.orders__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32 / 24 * 100%;
    color: $black-color;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 42 / 34 * 100%;
        text-align: start;
    }

    @media screen and (min-width: 1120px) {
        font-size: 44px;
        line-height: 52 / 44 * 100%;
        max-width: 621px;
    }
}
.orders__text{
    margin-top: 20px;
    font-style: normal;
    font-size: 16px;
    line-height: 21 / 16 * 100%;
    letter-spacing: 0.01em;
    color: $black-color;
    opacity: 0.7;

    @media screen and (min-width: 768px) {
        max-width: 480px;
        font-size: 18px;
        line-height: 21 / 18 * 100%;
    }

    @media screen and (min-width: 1120px) {
        max-width: 607px;
    }
}
.orders__social{
    margin-top: 31px;
}
.orders__item{
    
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.orders__link{
    display: flex;
    align-items: center;
    color: $black-color;
    transition: color 250ms ease-in-out;

    &:focus,
    &:hover{
        color: #F98AAB;
    }
}
.orders__div{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: $white-color;
}
.orders__div-text{
    font-style: normal;
    font-size: 22px;
    line-height: 26 / 22 * 100%;
}
.orders__buy{
    margin-top: 31px;

    @media screen and (min-width: 1120px) {
        margin-top: 50px;
    }
}
.orders__flex{
    
    @media screen and (min-width: 480px) {
        display: flex;
    }
}
.orders__social-buy{

    @media screen and (max-width: 479px) {

        &:not(:last-child){
            margin-bottom: 10px;
        }        
    }

    @media screen and (min-width: 480px) {

        &:not(:last-child){
            margin-right: 20px;
        }
    }
}

