.page-header{
    background: $accent-color;
}
.page-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header__logo{

    @media screen and (min-width: 1150px){
        margin-right: 50px;
    }
}
.menu-toggle{
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.nav{

    @media screen and (max-width: 767px) {
        display: none;
    }
}
.menu{
    display: flex;
}
.nav__item{

    &:not(:last-child){
        margin-right: 40px;
    }
}
.page-header__btn{
    padding: 14px 50px 13px ;
    color: $white-color;
    background: $purple-color;
    border-radius: 5px;
    cursor: pointer;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
}
// ===================
.btn-mobile{
    padding: 14px 50px 13px;
    color: $white-color;
    background: $purple-color;
    border-radius: 5px;
    cursor: pointer;
}
.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $pink-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
}
.menu-container.is-open {
    transform: translateX(0);
}
.menu-container{

    @media screen and (min-width: 768px){
        display: none;
    }
}
.container__mobile{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.menu__nav{
    margin-bottom: auto;
}
.mobile-menu__item{
    
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.mobile-menu__link{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 38 / 35 * 100%;
    color: $white-color;
}