.product{
    padding: 25px 0;

    @media screen and (min-width: 768px) {
        padding: 50px 0;
    }

    @media screen and (min-width: 1120px) {
        padding: 100px 0;
    }
}
.product__inner{
    margin-top: 50px;
}
.product__block{
    
    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(even){
            flex-direction: row-reverse;
            text-align: end;
        }
    }

    @media screen and (min-width: 1120px) {
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.product__list-price{

    @media screen and (min-width: 768px) {
        width: 320px;
    }

    @media screen and (min-width: 1120px) {
        width: 454px;
    }
}
.product__title{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 41 / 24 * 100%;
    color: #150101;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 51 / 34 * 100%;
    }

    @media screen and (min-width: 1120px) {
        margin-bottom: 64px;
        font-size: 44px;
        line-height: 61 / 44 * 100%;
    }
}
.product__list{
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }

    @media screen and (min-width: 1120px) {
        flex-wrap: nowrap;
        margin: 0;
        justify-content: space-between;
    }
}
.product__item{

    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 4 * 10px) / 2);
        margin: 10px;
    }

    @media screen and (min-width: 1120px) {
        flex-basis: auto;
        margin: 0;
    }
}
.product__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 21 / 28 * 100%;
    color: $third-black-color;
    text-transform: uppercase;
    transition: color 400ms ease-in-out;

    &:hover, &:focus{
        color: $black-color;
    }
}
// =========================
.product__link--current{
    position: relative;
    color: $black-color;
    display: inline-block;

    &::after{
        content: '';
        position: absolute;
        display: block;
        width: 95%;
        border: 2px solid #d64374;
        bottom: -10px;
    }
}
// ==========================

.product__list-title{
    margin-bottom: 11px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35 / 26 * 100%;
    color: $black-color;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
.product__list-text{
    margin-bottom: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24 / 16 * 100%;
    color: $black-color;
}
.product__price{
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35 / 26 * 100%;
    color: $black-color;

    & span{
        font-size: 20px;
        line-height: 27 / 20 * 100%;
        text-decoration: line-through;
        color: $third-black-color;
    }
}
.product__button{
    padding: 15px 55px 15px 46px;
    border: 1px solid transparent;
    background: $purple-color;
    color: $white-color;
    border-radius: 5px;
    cursor: pointer;

    @media screen and (min-width: 1120px) {
        transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;

        &:hover, &:focus{
            background-color: #f36091;
            box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, .3)
        }
    }
}