.service{
    background: #f8edf0;
}
.service__content{
    max-width: 442px;
}
.service__title{
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 29 / 24 * 100%;
    color: #150101;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 39 / 34 * 100%;
    }

    @media screen and (min-width: 1120px) {
        font-size: 44px;
        line-height: 49 / 44 * 100%;
    }
}
.service__text-p{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24 / 16 * 100%;
    color: #150101;
}
.service__div{
   padding: 15px;
   background: $purple-color;
   text-align: center;
   border-radius: 5px; 
}
.service__link{
    color: #fafafa;
    font-size: 16px;
    line-height: 19 / 16 * 100%;
}