.service{
    background: #f8edf0;
    padding: 25px 0;
}
.service__container{

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}
.service__content{

    @media screen and (min-width: 768px) {
        max-width: 300px;
    }

    @media screen and (min-width: 1120px) {
        max-width: 442px;
    }
    
}
.service__text{

    @media screen and (max-width: 767px) {
        display: none;
    }

}
.service__title{
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 29 / 24 * 100%;
    color: #150101;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
        font-size: 34px;
        line-height: 39 / 34 * 100%;
    }

    @media screen and (min-width: 1120px) {
        font-size: 44px;
        line-height: 49 / 44 * 100%;
    }
}
.service__text-p{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24 / 16 * 100%;
    color: #150101;

    @media screen and (min-width: 768px) {
        margin-bottom: 35px;
    }
}
.service__div{
   padding: 15px 42px;
   background: $purple-color;
   text-align: center;
   border-radius: 5px;
   
   @media screen and (min-width: 768px) {
       display: inline-block;
   }
}
.service__link{
    color: #fafafa;
    font-size: 16px;
    line-height: 19 / 16 * 100%;
}    