.view{
    padding: 25px 0;
}
// ==========================
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
// ==========================
.view__content{

    @media screen and (min-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.view__flex{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.view__photo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.view__info{
    margin-left: 21px;
}
.view__name{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28 / 24 * 100%;
    color: $black-color;
}
.view__country{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14 / 12 * 100%;
    color: $third-black-color;
    text-transform: uppercase;
}
.view__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24 / 16 * 100%;
    color: $third-black-color;
    max-width: 344px;

    &::before{
        content: url('/image/quote-left.jpg');
        margin-right: 12px;
    }

    &::after{
        content: url('/image/quote-right.jpg');
        margin-left: 8px;
    }
}
.slider{
    margin-top: 20px;
    display: flex;
    position: relative;   
}
.slider__item{
    margin: 0 5px;
}
.slider__img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.view__img{
    text-align: center;
    margin-top: 20px;
    // width: 100%;

    @media screen and (min-width: 767px) {
        margin: 0;
    }
}
