$accent-color: #f2ceda;
$purple-color: #d64374;
$black-color: #000000;
$second-black-color: #150101;
$third-black-color: #0f0101;
$orange-color: #f6762c;
$white-color: #ffffff;
$second-white-color: #e5e5e5;
$pink-color: #db7dcf;
