$accent-color: rgba(242, 206, 218, .3);
$purple-color: #d64374;
$black-color: #000000;
$second-black-color: rgba(19, 1, 1, 0.6);
$third-black-color: rgba(15, 1, 1, 0.6);
$hover-focus-color: rgba(210, 49, 102, 1);
$orange-color: #f6762c;
$white-color: #ffffff;
$second-white-color: #e5e5e5;
$pink-color: #db7dcf;
